### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
pom.xml.versionsBackup

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
!.idea
.idea/*
!.idea/copyright/

*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Node.js ###
# Global node_modules
node_modules/
# Load testing specific node_modules
load-testing/**/node_modules/
load-testing/artillery/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env.local
.env.development.local
.env.test.local
.env.production.local
.next/
out/
.nuxt/
.cache/
.parcel-cache/
coverage/
.nyc_output/
dist/
build/
.next/
out/
.nuxt/
.cache/
.parcel-cache/
coverage/
.nyc_output/

### Other ###
bin/
.factorypath
*.log
logs
log
.vscode

.DS_Store
.springBeans

cms-db-schema/liquibase.properties
ledgers-db/liquibase.properties
.env
